li{
    list-style: none;
}
ul{
    display: flex;
    align-items:center;
    flex-flow:row wrap;
}
.flex-item{
    width: 150px;
    margin: 20px;
    border: 1px solid red;
}
#flex-item1{
    height: 120px;
}
#flex-item2{
    height: 100px;
}
#flex-item3{
    height: 40px;
}
#flex-item4{
    height: 200px;
    border: 1px solid blue;
}
@media (max-width: 768px){
    #flex-item4{
        order:-1;
    }
}